@import "tailwindcss";

@layer components {
  .btn {
    @apply text-gray-900 bg-gradient-to-r from-pink-200 via-pink-100 to-orange-100 
           hover:bg-gradient-to-br 
           focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 
           font-medium rounded-2xl text-[18px] px-5 py-2.5 text-center me-2 mb-2 
           transition-transform duration-200 ease-in-out;
  }

  .btn:hover {
    @apply scale-105;
  }
  .skillBox {
    @apply bg-[#7B7B7B]/20 rounded-2xl w-[80px] h-[80px] p-2 transition-transform duration-200 ease-in-out;
  }

  .skillBox:hover {
    @apply scale-125 shadow-2xl shadow-pink-200/50;
    background-image: linear-gradient(to bottom right, #fbcfe8, #fef3c7);
  }

  .title{
    @apply text-7xl mb-12 text-white;
  }
}